body{
  background: linear-gradient(to bottom right,#2193b0, #6dd5ed );  
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  color: white;
}

/* styling the main container  */

.container{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}




/* Styling the questions */
#aa {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 30px;
  }
  


  /* Styling the input field */
#inp-1 {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
  }



  /* Styling the answer button */

#ans-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #23c160;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
  }


  #ans-btn:hover {
    background-color: #1aa048;
  }



  /* Styling the next button */

#next-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4a47a3;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  #next-btn:hover {
    background-color: #393580;
  }




  /* Styling the try again button */
#try-agn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d62828;
    color: white;
  
  }
  
 