body{
  background: linear-gradient(to bottom right,#2193b0, #6dd5ed );  
  margin: 0;
  padding: 0;
  font-family: Arial,sans-serif;
  color: white;
}

/* styling the main container  */

.container{

    
}